async-timeout==4.0.2
bidict==0.22.1
blinker==1.6.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
Flask==2.3.2
Flask-SocketIO==5.3.5
h11==0.14.0
idna==3.4
ifaddr==0.2.0
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
netifaces==0.11.0
pasteboard==0.3.3
pyclip==0.7.0
pyperclip==1.8.2
python-engineio==4.5.1
python-socketio==5.8.0
requests==2.31.0
simple-websocket==0.10.1
typing_extensions==4.7.1
urllib3==2.0.7
Werkzeug==2.3.8
wsproto==1.2.0
zeroconf==0.71.4
zipp==3.16.2
pycryptodome==3.19.0
pyngrok==7.0.3
